{% extends 'login/base.html' %}
{% block title %}用户注册{% endblock %}
{% block content %}
    <div class="container">
        <div class="col-md-4 col-md-offset-4">
            <form class="form-login" method="post" action="/register/">
                <h2 class="text-center">欢迎注册</h2>
                {% csrf_token %}
                {% if message %}
                    <div class="alert alert-warning">{{ message }}</div>
                {% endif %}
                <div class="form-group">
                    {{ reg_form.username.label_tag }}
                    {{ reg_form.username }}
                </div>
                <div class="form-group">
                    {{ reg_form.password1.label_tag }}
                    {{ reg_form.password1 }}
                </div>
                <div class="form-group">
                    {{ reg_form.password2.label_tag }}
                    {{ reg_form.password2 }}
                </div>
                <div class="form-group">
                    {{ reg_form.email.label_tag }}
                    {{ reg_form.email }}
                </div>
                <div class="form-group">
                    {{ reg_form.sex.label_tag }}
                    {{ reg_form.sex }}
                </div>
                <div class="form-group">
                    {{ reg_form.captcha.errors }}
                    {{ reg_form.captcha.label_tag }}
                    {{ reg_form.captcha }}
                </div>
                <button type="reset" class="btn btn-default pull-left">重置</button>
                <button type="submit" class="btn btn-primary pull-right">提交</button>
            </form>
        </div>
    </div>

    <script>
        //验证码ajax刷新
    $('.captcha').click(function(){
        console.log('click');
         $.getJSON("/captcha/refresh/",
                  function(result){
             $('.captcha').attr('src', result['image_url']);
             $('#id_captcha_0').val(result['key'])
          });});
    </script>
{% endblock %}