{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>this is my website</title>
    <link rel="stylesheet" href="{% static 'css/semantic.css' %}" />
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/semantic.js' %}" ></script>
</head>
<body>
    <div class="ui thin visible left sidebar inverted vertical menu">
        <div class="header item"><img src="{% static 'images/logo2.png' %}"></div>
        <div class="item">Documents<i class="browser icon"></i> </div>
        <div class="item">Charts<i class="bar chart icon"></i> </div>
        <div class="item">Others<i class="idea icon"></i></div>
    </div>
    <div class="pusher">
    <div class="ui menu">
        <a class="header item" id="side_menu">Menu<i class="content icon"></i></a>
        <a class="item">about us</a>
        <a class="item">location</a>
        <a class="item">others</a>
    </div>
    <div class="ui container">
        <div class="ui divided items">
            {% for item in items %}
                <div class="item">
                <div class="ui tiny image">
                    <img src="{% static 'images/0001.jpg' %}" >
                    <div class="ui teal ribbon label"><i class="star icon">{{ item.rate }}</i></div>
                </div>
                <div class="content">
                    <div class="ui header">{{ item.name }}</div>
                    <p>{{ item.desc }}</p>
                    <div class="extra">
                        {% for type in item.types %}
                            <div class="ui label">{{ type }}</div>
                        {% endfor %}
                </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="ui pagination menu">
            {% if items.has_previous %}
              <a class="item" href="?page={{ items.previous_page_number }}"><</a>
            {% endif %}
        <div class="item">page {{ items.number }} of {{ items.paginator.num_pages }}</div>
        {% if items.has_next %}
            <a class="item" href="?page={{ items.next_page_number }}">></a>
        {% endif %}
    </div>
    </div>
    </div>
    <script>
        $('#side_menu').click(function() {
            $('.ui.sidebar').sidebar('toggle');
        });
    </script>
</body>
</html>